<div>
    <img class="imagee" src="assets/images/banner4.jpg" alt="Snow" style="width:100%;">
    <div class="centered">Our story</div>
</div>


<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex="100">
        <h1 class="title">What's Csquare Education all about?</h1>
        <div fxLayout="wrap" fxLayoutWrap="wrap">
            <div class="about" style="text-align: justify;">
                Csquare Education is an online portal for finding the home tutors for home tuition. Not only this, in fact, it is a place where to you can also register yourself as tutor. So, it is an online place for both the students and tutors. We provide highly qualified
                home tutors in Bangalore at your door steps as per your convenience only. It does not matter for us whether you are searching for primary tuition or secondary one. Csquare Education is the one stop solution for all your problems as we
                cater you with the experts and qualified tutors only as these tutors will play an important role in shaping the future of your kids.
                <p>
                    We offer quality teaching to make the concepts clear in an easy and comprehensive manner for all the students. We understand the role of teacher and their crucial aspect for teaching the students and how teaching will make them understand the concepts.
                    It does not matter whether your kid is slow in his studies or he is a genius, we are ready to serve them with right guidance so that they can perform well and can outshine in the competition.
                </p>
                <p>
                    Our home tutors are available for home tuition as per the timings suited by the parents and kids. The experience of these private tutors will help them in recognizing the needs of every student and provide the best possible solution for their problems.
                    We offer the perfect blending of solution to cater the customized problems of students. Right guidance with right understanding along with proper attention is the key to success. Nowadays, competition is getting tougher, therefore
                    along with the students, parents are getting conscious for the performance of their kids. They keep pushing their wards towards to top the competition. However, Csquare Education has a different approach as it believes that each and
                    every kid is unique and has its own different potential. Our home tuition will understand the interests and talent of your kid and will polish those skills.
                </p>
            </div>
        </div>

    </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap" class="ser t-1 mb-1 ">
    <div fxFlex="100">
        <h1 class="text-center" style="padding-top: 1.5em;">Here's some more information about Csquare Education</h1>
        <div fxLayout="row" fxLayoutwrap="wrap">
            <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
            <div fxFlex="100" fxFlex.gt-xs="80">
                <div fxLayout="row" fxLayoutwrap="wrap">
                    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1 mobile-service">
                        <div class="pb-1">

                        </div>
                        <div class="pb-1 service-divider">
                            <mat-card class="m1">
                                <p>SERVICES THAT WE OFFER</p>
                            </mat-card>
                            <mat-card class="m5">
                                <ul>
                                    <li>Home Tuition</li>
                                    <li> Online Tuition</li>
                                    <li> Question Paper</li>
                                    <li> Home Tutor Jobs</li>
                                    <li> Technical Training</li>
                                    <li> Training for IT Jobs</li><br>
                                </ul>
                            </mat-card>
                        </div>
                        <div class="pb-1 service-divider">
                            <mat-card>
                                <mat-card-content class="p-0">
                                    <img src="assets/images/online_edu.jpg" class="card-img">
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                        <div class="pb-1"><br>
                            <mat-card class="m3">
                                <h6 class="punch text-center">History of Csquare Education </h6>
                            </mat-card>
                            <div class="para">
                                <p>We started our journey with providing tuition classes in 2014. It was going perfect then after 2 years we realized with this way we will not be able to create BIG CHANGE! As we belive that education in India requires many
                                    modification, so we came up with an idea of Home Tuition and Online Tuition. We are looking forward to bring more changes as we will be providing videos for students so that they can understand concept very well and
                                    in case if they miss some topic, they can get video for the same which ultimately leads to much more understanding. We here at CsquareEducation are not working on creating more and more human labour or say educated
                                    labour but we are trying to bring creative learning for student where they not only follow order but use their creativity to learn and adapt the skillset. As per our opinion students are not getting eductaion upto mark
                                    as today also our education system is to fulfill requirement of industrial labour who just follow order and aren't allowed to use their own creativity. So we are bound to bring back the creativty of every child in India
                                    back so that they can decide their own future but not our education system.</p>
                                <p>Csquareeducation Established in 2014 and from that day, we are a zero revenue generators and we seriously entered in to the Home Tuition business effectively from June, 2015. We have started our company as training institute
                                    and slowly we have entered into home tuition. Initial days we have involved mostly on training class, but slowly Home Tuition business started getting more and more revenue and very good response from client. From June,2015
                                    onwards we have started focusing more on home tuition and this home tuition become primary business for us. We are proving home tuition in all over Bangalore from Nursery – to – Graduation along with all kind of board
                                    and Universities. We are having tutors from 1 year – to – 20+ years of experience. As part of enrollment policy all tutors are verified by CsquareEducation and we are keeping their documents. Parents and tutor both
                                    are engaged in contract with Csquareeducation before staring home tuition and we are responsible to take care of their issues and concern till they are associated with us. We successfully completed 1800 Parental clients
                                    and over 5000 Tutors from all over the Bangalore at today’s date. The rate of success is growing day by day and this is the best time to expand our business. Where I have seen 100% result in the 2015 and very Extreme
                                    result of 200% Business has increased in 2016-17.
                                </p>
                            </div>
                        </div>
                        <div class="pb-1 service-divider">
                            <mat-card class="m4">
                                <h6 class="punch text-center">New Ideas</h6>
                            </mat-card>
                            <p class="para">Lets share and help our community. The idea is to not let people do mistakes that we have done. Yes we should take risks and commit new mistakes. Send us your story and we will share it with world through our blog. So this
                                way we can change the idea of thinking of coming generations. Our Education system needs to change.
                            </p>
                            <div *ngIf="show3 == true">
                                <p class="para">There are lot of benefits with this online classes or e-learning classes. Particularly these sort of classes are used for the students who are working part-time or full-time & busy working professionals, who can’t spend
                                    enough time or separate time to attend regular classes or spending extra time to go for a coaching center. For those student’s online tuition or online classes were one of the perfect solution.
                                </p>
                            </div>
                            <p style="text-align:center!important;">
                                <button mat-raised-button class="read-more" (click)="changeButton3()">{{readMore3}}</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
        </div>
    </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap" class="mt-1 mb-1 pb-1">
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
    <div fxFlex="100" fxFlex.gt-xs="80">
        <h1 class="title">Our team</h1>
        <div cfxLayout="row" fxLayoutWrap="wrap" class="mt-1">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                <img class="img-2" src="assets/images/lovely.jpg">
                <h4 class="text-center">
                    Lovely Singh
                </h4>
                <h6 class="tagline">CEO, CsquareEducation</h6>
                <div class="description">
                    Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                <img class="img-2" src="assets/images/rahul.jpg">
                <h4 class="text-center">
                    Rahul Singh
                </h4>
                <h6 class="tagline">Developer/Designer, CsquareEducation</h6>
                <div class="description">
                    A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                <img class="img-2" src="assets/images/shreyash.jpg">
                <h4 class="text-center">
                    Shreyash Prashu
                </h4>
                <h6 class="tagline">Developer, CsquareEducation</h6>
                <div class="description">
                    The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
</div>